.Advert {
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 35px;
    max-width: 500px;
    padding-top: 10px;
    width: 400px;
    height: -20px;
    margin-left: 550px;
    cursor: pointer;
    align-items: center;
}

.black {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700; 
    height: 40%;
    line-height: 50%;
    border-bottom: 2px solid yellow;
    
}

.shop {
    background-color: yellow;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 15px;
    font-size: 35px;
    font-weight: 60px;
    width: 98%;
    margin-bottom: -8px;
    margin-top: -9px;
    text-align: center;
    font-weight: 700;
    margin-left: -6px;
    
}

.sale {
    background-color: black;
    color: yellow;
    border: none;
    font-style: italic;
    text-transform: uppercase;
    transform: rotate(120deg);
    
 
}


.body {
    background-color: black;
    color: white;
    font-size: 200%;
    padding-top: -5%;
    padding-bottom: 3%;
    width: fit-content;
}

.buy {
    background-color: yellow;
    color: black;
    margin-left: 88px;
    font-size: 30px;
    width: fit-content;
    border-radius: 30px;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    font-weight: 700;
    

}

.off {
    font-size: 80px;
    font-weight: 50px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-weight: 700;
    text-align: center;
    align-items: center;
    height: 40px;
}

.course {
    font-size: 20px;
    padding-top: 30px;
    margin-top: none;
    font-weight: 700;
    margin-left: 30px;
}

